.direction__btn {
  background-color: #c5d0d9;
  color: #fff;
  display: flex;
  width: 6rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
}

.direction__btn.top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.direction__btn.right {
  right: -1.5rem;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}

.direction__btn.bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

.direction__btn.left {
  left: -1.5rem;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}
